commands {
    terminal "foot"
    screenshot "ferese-screenshot"
    screenshot-full "ferese-screenshot" "--full"
}

input {
    xkb-layout "us"
    focus-follows-mouse #false

    touchpad {
        swipe-threshold 80
    }
}

layout {
    smart-gaps #false
}

theme {
    surface {
        bar {
            background "#111821"
            opacity 0.95
            text-primary "#F4F7FB"
            text-muted "#8793A2"
        }
    }
}

window-rule app-id="dev.ferese.Settings" floating=#true
window-rule title="Choose a wallpaper" floating=#true

desktop-widgets {
    clock {
        style "pixel"
        enabled #false
        anchor "top_left"
        margin-x 64
        margin-y 80
        time-size 128.0
        date-size 18.0
        opacity 0.9
    }
}
